#user_specific_pricing_tab_data .wdm_user_pricing_tab_options table tr th, #user_specific_pricing_tab_data .wdm_user_pricing_tab_options table tr td{
        padding:5px;
}

.wdm_username{
        width: 100% !important;
}

.wdm_left_td{
        text-align: left;
}

.nomargin{
    margin-top: 0;
/*    border-top: 1px solid #ccc;
    width: 101.8%;*/
}

.remove_user_price_pair_row_image, .add_user_price_pair_row_image {
        width: 20px;
        vertical-align: middle;
}
.import-export-header{
    font-weight: bold !important;
    font-size: 19px !important;
    color: rgba(35, 40, 45, 0.79);
}
.wdm_price {
        margin-right: 5px !important;
}

.wdm_remove_pair_link, .wdm_add_pair_link{
        margin-left: 5px !important;
        vertical-align: middle;
}

.chosen-results{
        width: 90% !important;
}

.wdm_user_pricing_tab_options p.submit{
    float:left !important;
    padding-left: 0px !important;
    padding-bottom: 10px !important;
}

.add_new_row_image{
    width: 20px;
    margin-top: 3%;
}

.add_new_pair_btn{
    /*clear:both;*/
    margin-left:2% !important;
}

.layer_parent {
    position: relative;
    margin-right: 15px;
    /*margin-top: 0.25%;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
}
.pew_upgrade_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*dim the background*/
}
#entry_dummy {
    /* background: #fff repeat; */
    /*width: 100%;*/
    /* height: 650px; */
    float: left;
    /* overflow-x: auto; */
}
#entry_dummy_acc {
    float: left;
    /* width: 99.5%; */
}


#entry_dummy .pew_uptp_cont{
    width: 98.40%;
    border-radius: 0;
}
#entry_dummy_acc .pew_uptp_cont a{
    color: #fff;
    /*height: 10%;*/
}

.banner2 a{
    color: #fff !important;
}
#entry_dummy_acc .pew_uptp_cont {
    width: 111%;
    border-radius: 0;
}
#entry_dummy_acc .pew_upgrade_layer{
    width: 111%;
}
#entry_dummy_acc .layer_parent {
    margin-right: 0;
    background-color: transparent;
}

.banner2{
    margin-left: -2.2em;
    margin-right: -2.2em;
    margin-bottom: -1em;
    margin-top: 1em !important;
    padding: none;
    border-radius: 0 !important;
}

.acc_img{
    height: 100%;
    width: 100%;
}
.pew_uptp_cont {
    border: 1px solid #DDD;
    background-color: #DDD;
    color: #960000;
    border-radius: 4px;
    margin-top: 0.25%;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    font-weight: bold;

}

.ui-accordion .ui-accordion-content {
    overflow: hidden !important;
}

.wdm_view_det_link {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #960000;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 1px;
    width: 100px;
    height: 20px;
    padding: 10px;
}
.wdm_view_det_link:hover{
    border:1px solid #961914;
    box-shadow: none;
    background: #444;
    color: #960000;
    background: transparent;
    /*border-color: #960000;*/
}