﻿/*-----------------------------------------------------------------------------------

Theme Name: Buddy
Version: 2.5
Description: Designed by <a href="http://www.ghostpool.com">GhostPool.com</a>.
Author: GhostPool
Author URI: http://www.ghostpool.com
Theme URI: http://www.ghostpool.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: buddypress, responsive-layout, full-width-template, threaded-comments, gray, blue, green, red, white, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, editor-style, featured-images, sticky-post, theme-options, translation-ready
Text Domain: buddy

-----------------------------------------------------------------------------------

0 - CSS Reset
1 - General
2 - Content Areas
3 - Header
4 - Sidebar Widgets
5 - Footer
6 - Posts/Pages
7 - Post Categories
8 - Other Pages
9 - Shortcodes
10 - Contact Form 7
11 - Media Queries

-----------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------

0 - CSS Resets

--------------------------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}section,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-spacing:0;border-collapse:collapse;}input[type="text"],input[type="password"],input[type="button"],input[type="submit"],input[type="reset"],textarea,button{-webkit-appearance:none;}input::-moz-focus-inner{margin-top:0;margin-bottom:-1px;padding:0;border:0;}


/*--------------------------------------------------------------------------------------

1 - General Styling

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Document Styling
--------------------------------------------------------------*/

* {
box-sizing: border-box;
outline: none;
-webkit-text-size-adjust: none;
}
body {
background: #f0f0ed;
color: #999;
margin: 0;
padding: 0;
font-family: Helvetica, Arial, sans-serif;
font-size: 12.5px;
font-weight: normal;
}

/*--------------------------------------------------------------
Text Styling
--------------------------------------------------------------*/

a {
color: #33363c;
text-decoration: none;
}
a:hover {
color: #2F9BC1;
text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #33363c;
padding: 0;
margin: 0 0 10px 0;
line-height: 130%;
font-weight: bold;
word-wrap: break-word;
}
h1 {
font-size: 28px;
}
h2 {
font-size: 22px;
}
h3 {
font-size: 20px;
}
h4 {
font-size: 19px;
}
h5 {
font-size: 18px;
}
h6 {
font-size: 16px;
}
p {
line-height: 21px;
margin-bottom: 12px;
}
p:first-child {
margin-bottom: 12px;
}
p:last-child {
margin-bottom: 0;
}
strong {
font-weight: bold;
}
em {
font-style: italic;
}
small {
font-size: xx-small;
line-height: 1em;
}
sup {
font-size: xx-small;
vertical-align: top;
line-height: 1em;
} 
sub {
font-size: xx-small;
vertical-align: bottom;
line-height: 1em;
}

/*--------------------------------------------------------------
List Styling
--------------------------------------------------------------*/

ol {
padding: 0;
margin: 0;
list-style-type: decimal;
}
ul {
padding: 0;
margin: 0;
list-style-type: square;
}
li {
margin: 0 0 10px 20px;
line-height: 21px;
}
li i {
padding-right: 5px;
}
li:last-child {
margin-bottom: 0;
}

/*--------------------------------------------------------------
Fields/Button Styling
--------------------------------------------------------------*/

input,
textarea {
max-width: 100%;
font-family: Helvetica, Arial, sans-serif;
font-size: 12.5px;
padding: 8px 10px;
color: #999;
border: 1px solid #f7f7f7;
background: #f7f7f7;
border-radius: 4px;
}
input:focus,
textarea:focus {
background-color: #fff;
border: 1px solid #ccc;
}
::-webkit-input-placeholder {
color: #aaa;
}
:-moz-placeholder {
color: #aaa;
}
:-ms-input-placeholder {
color: #aaa;
}
:focus::-webkit-input-placeholder {
color: #ccc;
}
:focus:-moz-placeholder {
color: #ccc;
}
:focus:-ms-input-placeholder {
color: #ccc;
}
textarea {
width: 100%;
line-height: 19px;
height: 150px;
resize: vertical;
}
select {
padding: 2px 0;
}
input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
background-color: #2f9bc1;
color: #fff;
font-weight: bold;
padding: 9.5px 15px;
margin: 0;
border: 0;
font-size: 13.5px;
line-height: 1;
cursor: pointer;
border-radius: 4px;
}
input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
button:hover,
.button:hover {
background-color: #2a8cae;
color: #fff;
}
input[type='radio'],
input[type='checkbox'] {
background: transparent;
border: 0;
}
fieldset {
border: 1px solid #f0f0ed;
margin: 0;
padding: 20px 15px;
border-radius: 4px;
}
legend {
font-size: 14px;
}

/*--------------------------------------------------------------
Alignment, captions and galleries
--------------------------------------------------------------*/

.left {
float: left;
}
.right {
float: right;
}
.clear {
content: '';
clear: both;
line-height: 0;
padding: 0;
margin: 0;
height: 0;
display:block;
font-size:0;
width:100%;
}
.align-center,
.aligncenter {
position: relative;
margin: 20px auto;
display: block;
clear: both;
}
.align-left,
.alignleft {
position: relative;
float: left;
margin: 4px 20px 5px 0;
}
.align-right,
.alignright {
float: right;
position: relative;
margin: 4px 0 5px 20px;
}
.text-left {
text-align: left;
}
.text-right {
text-align: right;
}
.text-center {
text-align: center;
}
.text-justify {
text-align: justify;
}
.gallery {
overflow: hidden !important;
}
.gallery-item img {
max-width: 100% !important;
border: 0 !important;
}
.gallery-caption {
margin: 10px 0;
}

/*--------------------------------------------------------------
Other styling
--------------------------------------------------------------*/

table {
border: 1px solid #f0f0ed;
padding: 5px 10px;
line-height: 19px;
width: 100%;
}
th {
font-weight: bold;
border-top: 1px solid #f0f0ed;
padding: 10px;
text-align: left;
}
td {
border-top: 1px solid #f0f0ed;
padding: 10px;
}
img {
max-width: 100%;
height: auto;
}
.avatar {
border-radius: 4px;
}
object,
embed,
video,
iframe {
max-width: 100%;
border: 0;
}
cite {
float: right;
padding: 0 0 5px 0;
}
hr {
background: #f0f0ed;
border: 0;
clear: both;
width: 100%;
height: 1px;
padding: 0;
margin: 20px 0;
position: relative;
}
pre {
color: #000;
background: url( lib/images/code-bg.png );
border: 1px solid #f0f0ed;
padding: 5px 25px;
margin: 5px 0 20px 0;
font-family: "Courier New";
overflow: auto;
font-size: 12px;
line-height: 21px;
}
code {
color: #000;
background: url( lib/images/code-bg.png );
border: 1px solid #F0F0ED !important;
padding: 5px 25px;
margin: 5px 0 20px 0;
font-family: "Courier New";
clear: both;
display: block;
font-size: 12px;
line-height: 21px;
}
.preload {
display: none;
}
.no-js .preload {
display: block;
}
mark {
padding: 3px 5px;
border-radius: 4px;
}
ins {
text-decoration: none;
}
dl {
line-height: 19px;
margin-bottom: 20px;
}
dd {
margin-bottom: 10px;
}
dt {
font-weight: bold;
}
.screen-reader-text {
clip: rect( 1px, 1px, 1px, 1px );
height: 1px;
overflow: hidden;
position: absolute !important;
width: 1px;
}


/*--------------------------------------------------------------------------------------

2 - Content Areas

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Page wrapper
--------------------------------------------------------------*/

#page-wrapper {
position: relative;
text-align: left;
width: 1200px;
margin: 0 auto;
overflow: hidden;
}

/*--------------------------------------------------------------
Content wrapper
--------------------------------------------------------------*/

#content-wrapper {
float: left;
width: 100%;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
margin-bottom: 30px;
}

/*--------------------------------------------------------------
Main content
--------------------------------------------------------------*/

#content,
#container {
float: right;
position: relative;
width: 935px; 
}
.sb-both #content,
.sb-both #container {
width: 670px;
}
.fullwidth #content,
.fullwidth #container {
width: 100% !important;
}
#left-content-wrapper {
float: left;
}
.sb-both #left-content-wrapper {
width: 935px;
}
.fullwidth #left-content-wrapper {
width: 100% !important;
}
.mu_register {
float: left;
background: #FFF;
padding: 20px;
width: 100%;
border-radius: 8px;
}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

.sidebar {
float: left;
width: 245px;
font-size: 12px;
}
#sidebar-left {
margin-right: 20px;
}
#sidebar-right {
margin-left: 20px;
}
#sidebar {
display:none;
}


/*--------------------------------------------------------------------------------------

3 - Header

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

#header {
position: relative;
float: left;
z-index: 1000;
width: 100%;
padding: 15px;
margin-bottom: 30px;
background: #33363c;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
}
.gp-scrolling.gp-fixed-header #header {
position: fixed;
display: none;
width: 1200px;
}
#gp-fixed-padding {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

/*--------------------------------------------------------------
Logo
--------------------------------------------------------------*/

#logo {
display: block;
float: left;
margin: 0;
line-height: 0;
max-width: 100%;
}
#logo:after {
content: " ";
}
#logo.default-logo {
margin-top: 3px;
}
#logo a {
color: #fff;
line-height: 0;
}
#logo img {
height: auto;
position: relative;
}

/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

/* Top level ************************************/
#nav  {
float: right;
position: relative;
z-index: 999;
}
#nav .menu {
float: left;
margin: 5px 0 0 0;
list-style-type: none;
list-style-position: outside;
}
#nav ul.menu:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#nav .menu li {
float: left;
position: relative;
list-style-type: none;
margin: 0 0 0 5px;
padding: 0;
}
#nav .menu li:first-child {
margin-left: 0;
}
#nav .menu li a {
color: #fff;
font-size: 12px;
padding: 10px 13px;
font-weight: bold;
}
#nav .menu li a:hover,
#nav .menu li:hover > a {
color: #fff;
background: #26282d;
border-radius: 8px;
}

/* Dropdown Menus ************************************/

#nav .menu .sub-menu {
display: none;
position: absolute;
background: #26282d;
width: 200px;
z-index: 999;
top: 22px;
left: auto;
margin: 0;
padding: 10px 13px;
border-radius: 8px;
border-top-left-radius: 0; 
}
#nav .menu li:hover > .sub-menu {
display: block;
}
#nav .menu .sub-menu li {
margin: 0;
width: 100%;
}
#nav .menu .sub-menu li a {
display: block;
float: left;
width: 100%;
padding: 0;
margin: 5px 0 0 0;
color: #99a1b1;
}
#nav .menu .sub-menu li a:hover {
color: #fff;
background: none;
}
#nav .gp-nav-edge .sub-menu {
right: 0;
border-radius: 8px;
border-top-right-radius: 0;
}
#nav .menu .sub-menu li ul {
top: auto;
left: 170px;
margin-top: -10px;
}
#nav .gp-nav-edge .sub-menu li ul {
left: -200px;
}

/*--------------------------------------------------------------
BuddyPress buttons
--------------------------------------------------------------*/

#bp-buttons {
float: right;
margin-left: 15px;
}
#mobile-bp-buttons {
display: none;
margin-bottom: 15px;
text-align: center;
}
.bp-button {
display: inline-block;
position: relative;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #fff;
font-weight: bold;
padding: 9px 15px;
font-size: 13px;
border-radius: 4px;
margin: 0 0 0 5px;
}
.bp-button:hover {
color: #fff;
}
.login-button {
background-color: #77af12;
}
.login-button:hover {
background-color: #679710;
}
.signup-button {
background-color: #2f9bc1;
}
.signup-button:hover {
background-color: #2a8cae;
}
#gp-profile-desktop-button,
#gp-profile-mobile-button {
display: none;
background-color: #2f9bc1;
}
#gp-profile-button-destop:hover,
#gp-profile-mobile-button:hover {
background-color: #2a8cae;
}
.gp-profile-all #gp-profile-desktop-button,
.gp-profile-desktop #gp-profile-desktop-button {
display: inline-block;
}
#gp-profile-mobile-button { 
display: none;
}
#gp-profile-mobile-button:before {
content: '\f007';
font-family: 'FontAwesome';
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;	
}

/*--------------------------------------------------------------
Mobile navigation
--------------------------------------------------------------*/

#mobile-nav-button {
cursor: pointer;
float: right;
display: none;
font-size: 13px;
border-radius: 4px;
color: #fff;
font-weight: bold;
padding: 9px 15px;
background-color: #77af12;
}
#mobile-nav.auto-height {
height: auto !important;
}
#mobile-nav-button:hover,
#mobile-nav-button.gp-active {
background-color: #679710;
}
.gp-desktop #mobile-nav, 
.gp-tablet-landscape #mobile-nav {
display: none !important;
}
#mobile-nav {
display: none;
float: left;
width: 100%;
clear: both;
margin-top: 15px;
}
#mobile-nav li {
position: relative;
list-style-type: none;
border-top: 1px solid rgba( 255, 255, 255, 0.1 );
margin: 0;
}
#mobile-nav .menu li a {
display: block;
color: #fff;
font-size: 14px;
padding: 15px 10px;
font-weight: bold;
}
#mobile-nav .menu li > a:hover {
color: #fff;
background: #26282d;
}
#mobile-nav .menu li > .mobile-dropdown-icon {
font-family: 'FontAwesome';
cursor: pointer;
position: absolute;
top: 0;
right: 0;
font-size: 20px;
padding: 0 25px;
line-height: 54px;
color: #999;
}
#mobile-nav .menu li > .mobile-dropdown-icon:before {
content: '\f0d7';
}
#mobile-nav .menu li.gp-active > .mobile-dropdown-icon:before {
content: '\f0d8';
}
#mobile-nav .menu li .sub-menu {
margin: 0;
display: none;
}
#mobile-nav .menu li .sub-menu li {
margin-left: 20px;
}


/*--------------------------------------------------------------------------------------

4 - Sidebar Widgets

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
General
--------------------------------------------------------------*/

.widget {
position: relative;
width: 100%;
overflow: hidden;
clear: both;
padding: 20px;
margin-bottom: 20px;
background: #fff;
border-radius: 8px;
}
.widget.gp-custom-content {
background: none;
padding: 0;
}
.widget:last-child {
margin: 0;
}
.widget .widgettitle {
color: #33363c;
font-size: 12px;
font-weight: bold;
border-bottom: 1px solid #f0f0ed;
padding: 0 20px 15px 20px;
margin: 0 -20px 20px -20px;
}
#content .widget .widgettitle {
font-size: 16px;
border: 0;
padding: 0;
margin: 0 0 10px 0;
}
.widget.gp-custom-content .widgettitle {
border: 0;
padding: 0;
margin: 0 0 10px 0;
}
.widget .widgettitle a,
.widget .widgettitle a:hover {
color: #33363c;
}
.textwidget {
line-height: 21px;
}
.widget ul {
margin: 0;
}
.widget ul li {
overflow: hidden;
margin: 10px 0 0 0;
list-style-type: none;
}
.widget ul li:first-child {
margin-top: 0;
}
.widget ul ul li {
margin-left: 10px;
}
.widget .current-cat > a {
text-decoration: underline;
}

/*--------------------------------------------------------------
Search widget
--------------------------------------------------------------*/

#searchbar {
width: 58%;
margin-right: 2%;
}
#searchsubmit {
width: 40%;
padding: 9.5px 0;
}

/* Calendar Widget */
#wp-calendar {
margin: 0 auto;
border: 0;
}
#wp-calendar th {
font-weight: bold;
padding: 5px;
text-align: center;
border: 0;
}
#wp-calendar td {
padding: 5px;
text-align: center;
border: 0;
}
#wp-calendar caption {
text-align: right;
font-weight: bold;
margin-bottom: 10px;
}

/*--------------------------------------------------------------
Statistics widget
--------------------------------------------------------------*/
.gp-stats > div {
width: 100%;
overflow: hidden;
font-weight: bold;
font-size: 14px;
line-height: 20px;
color: #fff;
padding: 6px 10px;
margin-bottom: 5px;
background: #E47070;
border-radius: 4px;
}
.gp-stats > div:before {
float: left;
font-family: 'FontAwesome';
margin: 0 10px 0 0;
color: #fff;
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.gp-stat-title {
float: left;
}
.gp-stat-count {
float: right;
font-size: 20px;
}
.gp-post-stats:before {
content: '\f040';
}
.gp-comment-stats:before {
content: '\f0e6';
}
.gp-gp-blog-stats:before {
content: '\f0e8';
}
.gp-activity-update-stats:before {
content: '\f086';
}
.gp-member-stats:before {
content: '\f007';
}
.gp-group-stats:before {
content: '\f0c0';
}
.gp-forum-stats:before {
content: '\f075';
}
.gp-topic-stats:before {
content: '\f075';
}


/*--------------------------------------------------------------------------------------

5 - Footer

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
General
--------------------------------------------------------------*/

#footer {
overflow: hidden;
width: 100%;
background: #fff;
padding-top: 30px;
text-align: center;
}

/*--------------------------------------------------------------
Footer widgets
--------------------------------------------------------------*/

#footer-widgets {
width: 1200px;
margin: 0 auto;
display: inline-block;
text-align: left;
}
.footer-widget {
float: left;
margin-left: 6%;
}
#footer-widgets div:first-child {
margin-left: 0;
}
.footer-widget .widget {
padding: 0;
margin-bottom: 30px;
}
.footer-widget .widget strong {
color: #33363c;
}
.footer-whole {
width: 100%;
}
.footer-half {
width: 47%;
}
.footer-third {
width: 29.33%;
}
.footer-fourth {
width: 20.5%;
}
.footer-fifth {
width: 15.2%;
}
.footer-widget .widget .widgettitle {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: bold;
padding: 0;
border: 0;
margin: 0 0 15px 0;
}
.footer-1 .widget .widgettitle {
color: #26282d;
}
.footer-2 .widget .widgettitle {
color: #77af12;
}
.footer-3 .widget .widgettitle {
color: #d73e3a;
}
.footer-4 .widget .widgettitle {
color: #ff8b04;
}
.footer-5 .widget .widgettitle {
color: #2f9bc1;
}
.footer-fourth #searchbar {
width: 100px;
}
.footer-widget-inner textarea {
height: 75px;
}
.footer-fourth #contact-form .textfield {
width: 125px;
}

/*--------------------------------------------------------------
Copyright
--------------------------------------------------------------*/

#copyright {
float: left;
position: relative;
width: 100%;
padding: 20px 0;
text-align: center;
font-size: 11px;
line-height: 17px;
color: #aaa;
}

/*--------------------------------------------------------------
Back to top button
--------------------------------------------------------------*/

#gp-to-top {
z-index: 1000;
display: none;
position: fixed;
bottom: 20px;
right: 20px;
overflow: hidden;
background: #33363C;
padding: 10px 15px;
font-size: 24px;
color: #fff;
border-radius: 8px;
line-height: 1;
}
#gp-to-top:hover {
background: #2F9BC1;
}
#gp-to-top-hover {
display: block;
float: left;
overflow: hidden;
opacity: 0;
}
#gp-to-top:active,
#gp-to-top:focus {
outline: none;
}


/*--------------------------------------------------------------------------------------

6 - Posts/Pages

--------------------------------------------------------------------------------------*/

.padder,
#container #content {
float: left;
background: #fff;
padding: 20px;
width: 100%;
border-radius: 8px; 
}
.padder.content-post-thumbnail {
border-radius: 8px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

/*--------------------------------------------------------------
Post thumbnails
--------------------------------------------------------------*/

.post-thumbnail {
max-width: 100%;
line-height: 0;
position: relative;
margin-bottom: 20px;
border-radius: 8px;
}
.spacing-small .post-thumbnail {
margin-bottom: 10px;
}
.post-thumbnail.wrap {
float: left;
margin: 0 20px 10px 0;
}
.spacing-small .post-thumbnail.wrap {
margin: 0 15px 5px 0;
}
.post-thumbnail img {
border-radius: 8px;
width: 100%;
}
.post-thumbnail.single-thumbnail,
.post-thumbnail.single-thumbnail img {
margin: 0;
border-radius: 8px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

/*--------------------------------------------------------------
Page title
--------------------------------------------------------------*/

.page-title {
font-size: 24px;
margin-bottom: 20px;
}

/*--------------------------------------------------------------
Entry meta
--------------------------------------------------------------*/

.gp-entry-meta {
width: 100%;
color: #33363C;
margin: 0 0 15px 0;
font-weight: bold;
line-height: 21px;
margin-top: -10px;
}
.gp-loop-meta {
width: 100%;
color: #33363C;
margin: 0 0 15px 0;
font-weight: bold;
line-height: 21px;
}
.gp-post-meta {
display: inline-block;
line-height: 1;
margin: 0 20px 0 0;
font-weight: bold;
}
.gp-post-meta:before {
font-size: 14px;
margin-right: 5px;
font-weight: normal;
font-family: 'FontAwesome';
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.gp-meta-author:before {
content: '\f007';
}
.gp-meta-date:before {
content: '\f073';
}
.gp-meta-cats:before {
content: '\f07c';
}
.gp-meta-comments:before {
content: '\f086';
}
.gp-meta-tags:before {
content: '\f02c';
}

.post-meta.post-tags {
margin: 0 0 20px 0;
}
.gp-blog-wrapper .post-meta.post-tags {
margin: 0;
}

/*--------------------------------------------------------------
Post content
--------------------------------------------------------------*/

#post-content {
width: 100%;
position: relative;
overflow: hidden;
word-wrap: break-word;
margin-bottom: 20px;
}

/*--------------------------------------------------------------
Lightbox
--------------------------------------------------------------*/

.lightbox-hover {
display: block;
position: absolute;
bottom: 10px;
right: 10px;
z-index: 10;
background: #33363C;
color: #fff;
padding: 7px 8px 5px 8px;
font-size: 14px;
line-height: 1;
opacity: 0;
cursor: pointer;
border-radius: 4px;
}
.lightbox-hover:before {
content: '\f067';
font-family: 'FontAwesome';
color: #fff;
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.pp_gallery li {
background: none;
border: 0;
padding: 0;
}
.pp_gallery li.jwplayer a {
background: url( lib/scripts/prettyPhoto/images/prettyPhoto/default/default_thumb.png ) no-repeat;
width: 50px;
height: 33px;
display: block;
}
.html5player {
width: 100%;
height: 100%;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

/* Comment List ************************************/

#comments {
position: relative;
overflow: hidden;
border-top: 1px solid #f0f0ed;
padding: 20px 20px 0 20px;
margin: 0 -20px 0 -20px; 
}
#comments h3 {
line-height: 1;
font-size: 20px;
margin-bottom: 20px;
}
#comments .commentlist {
width: 100%;
list-style: none;
margin: 0;
}
#comments .commentlist li {
position: relative;
margin: 0 0 20px 0;
padding: 0;
border: 0;
list-style: none;
word-wrap: break-word;
}
#comments .commentlist li .comment_container {
overflow: hidden;
}
#comments .commentlist .children li.comment {
margin: 20px 0 0 20px;
}
#comments .commentlist li .avatar {
position: relative;
top: 0;
left: 0;
float: left;
margin: 0;
width: 32px;
height: auto;
}
#comments .bypostauthor .avatar {
}
#comments .commentlist li .gp-comment-content {
margin: 0 0 0 42px;
}
#comments .commentlist li .gp-comment-meta {
font-size: 12px;
color: #33363C;
font-weight: bold;
margin: 0;
}
#comments .commentlist li [itemprop='author']:after {
content: '\0000a0\-\0000a0';
}
#comments .commentlist li.bypostauthor > .gp-comment-description {
background: #fbfbfb;
}
.comment-reply-link {
display: block;
float: right;
background-color: #77af12;
color: #fff;
font-size: 10px;
font-weight: bold;
padding: 4px 8px 5px 8px;
line-height: 1;
border-radius: 4px;
}
.comment-reply-link:hover {
color: #fff;
background-color: #679710;
}
#comments .cptch_block br {
display: none;
}

/* Comment Form ************************************/

#respond {
position: relative;
}
#commentform .required {
font-weight: bold;
}
#commentform p {
margin: 10px 0;
}
#commentform .form-submit {
margin: 0;
float: right;
}
#commentform {
text-align: left;
}
#commentform input,
#commentform textarea {
display: block;
}
#commentform .form-allowed-tags {
display: none;
}
.commentlist #respond {
margin: 20px 0 0;
padding-left: 80px;
}
#comments #reply-title {
display: block;
margin: 0 0 10px;
font-size: 20px;
}
#cancel-comment-reply-link {
float: right;
background-color: #77af12;
color: #fff;
font-size: 10px;
font-weight: bold;
padding: 4px 8px 5px 8px;
line-height: 1;
border-radius: 4px;
margin-top: 3px;
}
#cancel-comment-reply-link:hover {
color: #fff;
background-color: #679710;
}


/*--------------------------------------------------------------------------------------

7 - Post Categories

--------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------
Post loop
--------------------------------------------------------------*/

.gp-blog-wrapper section {
float: left;
position: relative;
width: 100%;
margin-bottom: 40px;
}
.spacing-small.gp-blog-wrapper section {
margin-bottom: 20px;
}
.gp-blog-wrapper section:first-child {
margin-top: 0;
}
.post-text h2 {
clear: none;
}
.spacing-small .post-text h2 {
font-size: 13.5px;
margin-bottom: 5px;
}
.sticky {
}

/*--------------------------------------------------------------
Blog columns
--------------------------------------------------------------*/

.gp-blog-columns-1 section {
margin-right: 0;
width: 100%;
}
.gp-blog-columns-2 section {
width: 49%;
margin-right: 2%;
}
.gp-blog-columns-3 section {
width: 32%;
margin-right: 2%;
}
.gp-blog-columns-4 section {
width: 23.5%;
margin-right: 2%;
}
.gp-blog-columns-5 section {
width: 18.4%;
margin-right: 2%;
}
.gp-blog-columns-6 section {
width: 15%;
margin-right: 2%;
}
.gp-blog-columns-2 section:nth-of-type(2n),
.gp-blog-columns-3 section:nth-of-type(3n),
.gp-blog-columns-4 section:nth-of-type(4n),
.gp-blog-columns-5 section:nth-of-type(5n),
.gp-blog-columns-6 section:nth-of-type(6n) {
margin-right: 0;
}
.gp-blog-columns-2 section:nth-of-type(2n+1),
.gp-blog-columns-3 section:nth-of-type(3n+1),
.gp-blog-columns-4 section:nth-of-type(4n+1),
.gp-blog-columns-5 section:nth-of-type(5n+1),
.gp-blog-columns-6 section:nth-of-type(6n+1) {
clear: left;
}

/*--------------------------------------------------------------
Page numbers
--------------------------------------------------------------*/

.gp-pagination-numbers {
float: left;
clear: both;
overflow: hidden;
width: 100%;
margin-top: 20px;
text-align: right;
font-size: 12px;
font-weight: bold;
font-family: 'Open Sans', sans-serif;
}
.gp-pagination.gp-entry-pagination {
margin: 0 0 20px;
}
.gp-pagination ul.page-numbers,
.gp-pagination ul.page-numbers li,
.gp-pagination ul.page-numbers > span,
.gp-pagination.gp-entry-pagination ul.page-numbers > a {
display: inline-block;
margin: 0 2px !important;
padding: 0;
list-style: none; 
font-size: 0;
}
.gp-pagination ul.page-numbers .page-numbers {
display: inline-block;
margin: 0;
background: #fbfbfb;
padding: 7px;
margin-left: 3px;
color: #999;
font-size: 12px;
line-height: 1;
border-radius: 4px;
}
.gp-pagination ul.page-numbers .page-numbers.current,
.gp-pagination ul.page-numbers > span.page-numbers,
.gp-pagination ul.page-numbers .page-numbers:hover {
background: #f0f0ed;
}
.gp-pagination.gp-entry-pagination ul.page-numbers .page-numbers {
margin: 0;
}
.gp-pagination ul.page-numbers .page-numbers.prev:before {
content: '\f053';
font-family: 'FontAwesome';
font-size: 10px;
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.gp-pagination ul.page-numbers .page-numbers.next:before {
content: '\f054';
font-family: 'FontAwesome';
font-size: 10px;
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------------------------------------------------

8 - Other Pages

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Login page template
--------------------------------------------------------------*/

#login-page-form {
position: relative;
overflow: hidden;
background: #f7f7f7;
border-top: 1px solid #F0F0ED;
border-bottom: 1px solid #F0F0ED;
margin: 0 -20px 20px -20px;
padding: 25px 30px 1px 30px;
color: #33363C;
}
#login-page-form p {
margin-bottom: 25px;
}
#login-page-form label[for="log"],
#login-page-form label[for="pwd"] {
display: none;
font-weight: bold;
margin-bottom: 5px;
}
.ie9 #login-page-form label[for="log"],
.ie9 #login-page-form label[for="pwd"] {
display: block;
}
#login-page-form label[for="rememberme"] {
font-weight: bold;
}
#login-page-form input[type="text"],
#login-page-form input[type="password"] {
background: #fff;
border-color: #fff;
font-size: 14px;
width: 100%;
padding: 13px 20px;
}
#login-page-form .button {
margin-right: 15px;
padding: 11px 19px;
font-size: 15px;
}
#login-page-links {
color: #33363C;
font-weight: bold;
margin-left: 15px;
}
.gp-register-link {
margin-right: 15px;
}
.gp-register-link:before {
content: '\f090';
font-family: 'FontAwesome';
margin-right: 5px;
}
.gp-lost-password-link:before {
content: '\f059';
font-family: 'FontAwesome';
margin-right: 5px;
}

/*--------------------------------------------------------------
Error 404 page
--------------------------------------------------------------*/

.error404 .padder {
padding: 10% 0;
text-align: center;
}
.error404 h1 {
font-size: 70px;
line-height: 100px;
padding: 0 15px;
margin: 0;
}
.error404 h2 {
margin: 0;
padding: 0 15px;
}
.error404 .gp-search {
border-bottom-width: 0 !important;
margin-top: 30px;
padding: 0 15px;
}
.error404 .gp-search p {
margin-bottom: 20px;
font-weight: bold;
width: 100%;
text-align: center;
}
.error404 .gp-search #searchform {
margin: 0 auto;
}
.error404 .gp-search #searchbar {
margin-right: 5px;
width: 200px;
}
.error404 .gp-search #searchsubmit {
width: auto;
padding: 8px 12px;
}


/*--------------------------------------------------------------
Page list
--------------------------------------------------------------*/

.page-list li {
list-style-type: none;
margin-left: 0;
}

/*--------------------------------------------------------------
Attachment page
--------------------------------------------------------------*/

.attachment p {
margin-top: 12px;
}

/*--------------------------------------------------------------
Password protected page
--------------------------------------------------------------*/

label[for*="pwbox"] {
float: left;
display: inline;
margin: 0 5px 0 0;
}


/*--------------------------------------------------------------------------------------

9 - Shortcodes

--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
Accordion
--------------------------------------------------------------*/

.accordion .panel {
position: relative;
width: 100%;
margin-bottom: 10px;
overflow: hidden;
}
h3.accordion-title {
margin: 0;
}
h3.accordion-title a {
padding-left: 10px;
}
.panel-content {
padding: 5px 0 0 30px;
line-height: 19px;
}

/*--------------------------------------------------------------
Activity Stream
--------------------------------------------------------------*/

.gp-activity-stream .acomment-reply {
display: none !important;
}
.gp-activity-stream.gp-allow-comments .acomment-reply {
display: inline-block !important;
}
.gp-activity-stream.gp-allow-comments .acomment-options .acomment-reply {
display: inline !important;
}
.hide-activity-comments .activity-inreplyto,
.hide-activity-comments .activity-comments {
display: none;
}

/*--------------------------------------------------------------
Author Info
--------------------------------------------------------------*/

.author-info {
overflow: hidden;
border-top: 1px solid #f0f0ed;
position: relative;
padding: 20px 20px 0 20px;
margin: 0 -20px 20px -20px; 
}
.author-info .avatar {
float: left;
margin-right: 20px;
width: 50px;
height: 50px;
}
.author-info .author-meta {
margin-left: 70px;
}
.author-info .author-meta-top {
width: 100%;
float: left;
}
.author-info .author-name {
float: left;
margin-bottom: 10px;
font-weight: bold;
color: #33363C;
font-size: 14px;
}
.author-info .author-desc {
line-height: 19px;
}

/*--------------------------------------------------------------
Blockquotes
--------------------------------------------------------------*/

blockquote {
font-size: 14px;
margin: 5px 20px 10px 20px;
padding: 10px 0 5px 25px;
overflow: hidden;
}
blockquote p {
line-height: 23px;
}
.blockquote-left {
float: left;
margin: 10px 20px 20px 0;
}
.blockquote-right {
float: right;
margin: 10px 0 20px 20px;
}
.blockquote-left,
.blockquote-right {
width: 30%;
font-size: 14px;
line-height: 23px;
padding: 10px 0 5px 25px;
}

/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/

/* General ************************************/

.sc-button,
.sc-button:hover {
display: inline-block;
position: relative;
max-width: 100%;
margin: 5px;
font-weight: bold;
color: #fff;
border-radius: 4px;
}
.sc-button.small {
font-size: 11px;
line-height: 11px;
padding: 8px 12px;
}
.sc-button.medium {
font-size: 12px;
line-height: 12px;
padding: 12px 20px;
}
.sc-button.large {
font-size: 14px;
line-height: 14px;
padding: 15px 60px;
}

/* Yellow Button ************************************/

.yellow.sc-button {
color: #fff !important;
background-color: #ffde45;
}
.yellow.sc-button:hover {
background: #ffd200;
}

/* Grey ************************************/

.grey.sc-button {
color: #fff !important;
background-color: #5c5c5c;
}
.grey.sc-button:hover {
background: #3d3d3d;
}

/* Dark Grey Button ************************************/

.darkgrey.sc-button {
color: #fff !important;
background-color: #404040;
}
.darkgrey.sc-button:hover {
color: #fff;
background: #202020;
}

/* Brown Button ************************************/

.brown.sc-button {
color: #fff !important;
background-color: #685950;
}
.brown.sc-button:hover {
color: #fff;
background: #453B35;
}

/* Blue Button ************************************/

.blue.sc-button {
color: #fff !important;
background-color: #2f9bc1;
}
.blue.sc-button:hover {
color: #fff;
background: #2a8cae;
}

/* Medium Blue Button ************************************/

.mediumblue.sc-button {
color: #fff !important;
background-color: #505f68;
}
.mediumblue.sc-button:hover {
background: #353f45;
}

/* Dark Blue Button ************************************/

.darkblue.sc-button {
color: #fff !important;
background-color: #364046;
}
.darkblue.sc-button:hover {
background: #15191b;
}

/* Lime Green Button ************************************/

.limegreen.sc-button {
color: #fff !important;
background-color: #77AF12;
}
.limegreen.sc-button:hover {
color: #fff !important;
background: #679710;
}

/* Teal Button ************************************/
.teal.sc-button {
color: #fff !important;
background-color: #8CA6A3;
}
.teal.sc-button:hover {
background: #6A8A87;
}

/* Dark Green Button ************************************/

.darkgreen.sc-button {
color: #fff !important;
background-color: #366a7b;
}
.darkgreen.sc-button:hover {
background: #23444b;
}

/* Red Button ************************************/

.red.sc-button {
color: #fff !important;
background-color: #E47070;
}
.red.sc-button:hover {
background: #B45353;
}

/* Dark Red Button ************************************/

.darkred.sc-button {
color: #fff !important;
background-color: #685053;
}
.darkred.sc-button:hover {
background: #453537;
}

/* Orange Button ************************************/

.orange.sc-button {
color: #fff !important;
background-color: #ee8600;
}
.orange.sc-button:hover {
background: #b25f0f;
}

/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/

.wp-caption {
position: relative;
padding: 0;
max-width: 100%;
}
.wp-caption img {
margin: 0;
}
.wp-caption-text {
margin: 5px 0 0;
font-size: 11px;
line-height: 19px;
color: #666;
}

/*--------------------------------------------------------------
Columns
--------------------------------------------------------------*/

/* General ************************************/

.columns {
float: left;
position: relative;
line-height: 19px;
margin-right: 2%;
}
.columns.one {
width: 100%;
}
.columns.two {
width: 49%;
}
.columns.three {
width: 32%;
}
.columns.four {
width: 23.5%;
}
.columns.five {
width: 18.4%;
}
.columns.onethird {
width: 33.2%;
}
.columns.twothirds {
width: 64.68%;
}
.columns.onefourth {
width: 24.5%;
}
.columns.threefourths {
width: 73.5%;
}

/* Separate Columns ************************************/

.columns.separate > div {
border: 1px solid #f0f0ed;
position: relative;
padding: 20px;
}

/* Joint Columns ************************************/

.columns.joint {
margin: 0;
}
.columns.joint > div {
border-width: 0 0 0 1px;
border-color: #f0f0ed;
border-style: solid;
position: relative;
padding: 20px;
}
.columns.first.joint > div {
border-left-width: 0;
}
.columns.one.joint {
width: 100%;
}
.columns.two.joint {
width: 50%;
}
.columns.three.joint {
width: 33.33%;
}
.columns.four.joint {
width: 25%;
}
.columns.five.joint {
width: 20%;
}
.columns.onethird.joint {
width: 33.33%;
}
.columns.twothirds.joint {
width: 66.33%;
}
.columns.onefourth.joint {
width: 25%;
}
.columns.threefourths.joint {
width: 75%;
}

.columns.last {
clear: right;
margin-right: 0;
}

/*--------------------------------------------------------------
Contact Form - deprecated since v2.0
--------------------------------------------------------------*/

#contact-form {
float: left;
width: 100%;
margin-bottom: 12px;
}
#contact-form .contact-verify {
float: left;
display: block;
font-weight: bold;
margin-right: 10px;
}
#contact-form label {
display: none;
margin-right: 10px;
font-weight: bold;
}
.ie9 #contact-form label {
display: block;
}
#contact-form .contact-verify label {
display: block;
float: left;
margin: 8px 5px 0 0;
}
#contact-form .contact-submit {
float: left;
}
#contact-form .loader {
display: none;
background: url( lib/images/loader-white.gif ) no-repeat right bottom;
float: left;
padding: 7px 0 0 10px;
margin: 0;
width: 16px;
height: 16px;
}
.contact-form.notify {
padding: 5px 10px;
margin-bottom: 10px;
}
#contact-form .input-error {
border: 1px solid #FBC2C4;
}

/*--------------------------------------------------------------
Dividers
--------------------------------------------------------------*/

.sc-divider {
content: '';
border-top: 1px solid #f0f0ed;
clear: both;
width: 100%;
height: 1px;
padding: 0;
margin: 40px 0;
position: relative;
}
.sc-divider.top a {
font-size: 10px;
float: right;
position: absolute;
top: -20px;
right: 0;
color: #999;
text-align: right;
cursor: pointer;
}
.sc-divider.small {
margin: 0;
}
.sc-divider.clear {
background: none !important;
border: 0;
margin: 15px 0 !important;
}
.sc-divider.small.clear {
border: 0;
margin: 0 !important;
}

/*--------------------------------------------------------------
Dropcaps
--------------------------------------------------------------*/

.dropcap1 {
display: block;
position: relative;
float: left;
font-size: 38px;
line-height: 38px;
margin: 0 10px -8px 0;
padding: 0;
text-align: center;
}
.dropcap2 {
display: block;
position: relative;
float: left;
font-size: 38px;
line-height: 38px;
margin: 4px 10px 0 0;
padding: 6px 12px;
text-align: center;
color: #404040;
background: #eee;
border-radius: 4px;
}
.dropcap3 {
display: block;
position: relative;
float: left;
font-size: 38px;
line-height: 38px;
margin: 4px 10px 0 0;
padding: 6px 12px;
text-align: center;
color: #999;
background: #404040;
border-radius: 4px;
}
.dropcap4 {
display: block;
position: relative;
float: left;
font-size: 38px;
line-height: 38px;
margin: 4px 10px 0 0;
padding: 6px 12px;
text-align: center;
color: #404040;
background: #eee;
border-radius: 25px;
}
.dropcap5 {
display: block;
position: relative;
float: left;
font-size: 38px;
line-height: 38px;
margin: 4px 10px 0 0;
padding: 6px 12px;
text-align: center;
color: #999;
background: #404040;
border-radius: 25px;
}

/*--------------------------------------------------------------
Images
--------------------------------------------------------------*/

.sc-image {
line-height: 0;
max-width: 100%;
height: auto !important;
}
.sc-image img {
max-width: 100%;
height: auto !important;
}
.sc-image a {
display: block;
margin: 0 auto;
}
.sc-image.aligncenter {
margin: 0 auto;
width: 100% !important;
text-align: center;
}
.sc-image.alignleft {
margin: 0;
}
.sc-image.alignright {
margin: 0;
}
.sc-image.image-border {
padding: 5px;
background: #f0f0ed; 
}

/*--------------------------------------------------------------
Login form
--------------------------------------------------------------*/

#loginform,
#registerform {
float: left;
margin: 10px 0;
}
#loginform label,
#registerform label {
display: block;
font-weight: bold;
margin: 0 0 5px 0;
}
#loginform .login-remember label {
display: block;
font-weight: bold;
margin: 0 0 5px 0;
padding: 0;
}

/*--------------------------------------------------------------
Lists
--------------------------------------------------------------*/

.sc-list li {
list-style-type: none;
margin-left: 0;
}

/*--------------------------------------------------------------
Notifications
--------------------------------------------------------------*/

.notify {
position: relative;
margin: 10px 0;
border-radius: 4px;
display: block;
line-height: 19px;
padding: 20px;
font-weight: bold;
}
.notify-default {
color: #57481c;
background-color: #FFDF75;
}
.notify-help {
color: #184366;
background-color: #5FA6E5;
}
.notify-success {
color: #566621;
background-color: #B3D46F;
}
.notify-warning {
color: #6b3b17;
background-color: #E78F4B;
}
.notify-error {
color: #571111;
background-color: #D84F4F;
}

/*--------------------------------------------------------------
Posts
--------------------------------------------------------------*/

.page-template-homepage-php .gp-blog-wrapper {
float: left;
width: 100%;
background: #fff;
padding: 20px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
}
.post-header {
font-size: 16px;
color: #33363C;
margin: 0 0 20px 0;
}
.page-template-homepage-php .post-header {
width: 100%;
background: #f7f7f7;
font-size: 14px;
color: #33363C;
padding: 15px 20px;
margin: 0 0 1px 0;
border-top-left-radius: 8px;
border-top-right-radius: 8px; 
}

/*--------------------------------------------------------------
Related Posts
--------------------------------------------------------------*/

.gp-related-posts-wrapper .related-posts {
position: relative;
overflow: hidden;
border-top: 1px solid #f0f0ed;
padding: 20px 20px 0 20px;
margin: 0 -20px 0 -20px; 
}
.gp-related-posts-wrapper .related-posts h3 { 
line-height: 1;
font-size: 20px;
margin-bottom: 20px;
}
.gp-related-posts-wrapper .related-posts h2 {
font-size: 12px;
font-weight: bold;
margin: 0;
}


/*--------------------------------------------------------------
Slider
--------------------------------------------------------------*/

/* General ************************************/

.flexslider {
position: relative;
width: 100%;
max-width: 100%;
margin: 0;
padding: 0;
zoom: 1;
overflow: hidden;
}
.flexslider.aligncenter {
margin: 0 auto;
}
.flexslider .slides {
zoom: 1;
margin: 0;
padding: 0;
}
.flexslider .slides > li {
position: relative;
list-style-type: none;
background: none;
display: none;
-webkit-backface-visibility: hidden;
margin: 0;
padding: 0;
}
.slides:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
html[xmlns] .slides {
display: block;
}
* html .slides {
height: 1%;
}
.no-js .slides > li:first-child {
display: block;
}
.flexslider .slides img {
max-width: 100%;
display: block;
border-radius: 8px;
width: 100%;
}
.flexslider.shadow .slides img,
.flexslider.shadow .slides .slide-video {
-webkit-box-shadow: 0 0 10px rgba( 0,0,0,0.5 );
-moz-box-shadow: 0 0 10px rgba( 0,0,0,0.5 );
box-shadow: 0 0 10px rgba( 0,0,0,0.5 );
}

/* Slide Video ************************************/

.video-image {
position: absolute;
top: 0;
left: 0;
z-index: 9;
display: block;
width: 100%;
height: 100%;
cursor: pointer;
}
.video-autostart .video-image {
display: none;
}
.video-button:before {
content: "\f04b";
position: absolute;
top: 50%;
left: 50%;
z-index: 9;
font-size: 20px;
padding: 2px 13px 2px 15px;
line-height: 39px;
text-align: center;
margin: -26px 0 0 -26px;
font-family: 'FontAwesome';
color: #fff;
border-radius: 100%;
background-color: rgba(0, 0, 0, 0.5);
border: 5px solid #fff;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
cursor: pointer;
}
.video-player {
display: none;
}
.video-autostart .video-player {
display: block;
}

/* Slide Caption ************************************/

.caption {
font-weight: bold;
color: #fff;
background: #33363C;
position: absolute;
z-index: 10;
padding: 10px 15px 0 15px;
max-width: 70%;
max-height: 50%;
overflow: hidden;
border-radius: 8px;
}
.caption h2 {
font-size: 24px;
line-height: 1;
margin: 0 0 10px 0;
color: #fff;
}
.caption p {
margin: 0 0 10px 0;
}
.caption-topleft {
top: 20px;
left: 20px;
}
.caption-topright {
top: 20px;
right: 20px;
}
.caption-bottomleft {
bottom: 55px;
left: 20px;
}
.caption-bottomright {
bottom: 55px;
right: 20px;
}

/* Slider Buttons ************************************/

.flex-control-nav {
position: absolute;
z-index: 19;
width: 100%;
list-style: none;
bottom: 20px;
left: 0;
float: left;
text-align: center;
}
.flex-control-nav li {
display: inline-block;
list-style: none;
margin: 0 4px;
padding: 0;
border-radius: 40px;
}
.flex-control-nav li a {
display: block;
text-indent: -9999px;
float: left;
background: #000;
border: 3px solid #fff;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha( Opacity=40 )";
filter:alpha( opacity=40 );
opacity: 0.4;
width: 15px;
height: 15px;
cursor: pointer;
border-radius: 40px;
}
.flexslider:hover .flex-control-nav li a {
display: block;
}
.flex-control-nav li a:hover,
.flex-control-nav li .flex-active {
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha( Opacity=70 )";
filter:alpha( opacity=70 );
opacity: 0.7;
}

/*--------------------------------------------------------------
Tabs
--------------------------------------------------------------*/

.ui-tabs {
position: relative;
padding: 0;
top: -4px;
zoom: 1;
}
.ui-tabs .ui-tabs-nav {
display: block;
margin: 0;
padding: 0;
clear: both;
}
.ui-tabs .ui-tabs-nav li { 
z-index: 1;
background-image: none;
list-style: none;
float: left;
position: relative;
top: 1px;
margin: 0;
border-bottom-width: 0;
padding: 0;
white-space: nowrap;
border: 0; 
}
.ui-tabs .ui-tabs-nav li a {
float: left;
font-weight: bold;
padding: 10px;
text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-state-active { 
z-index: 3;
background: #f0f0ed;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-state-hover a {
color: #33363C;
}
.ui-tabs .ui-tabs-nav li a {
color: #999;
cursor: pointer;
} 
.ui-tabs-nav .tabhead {
cursor:pointer;
font-size: 13.5px;
margin-bottom: 0;
display: block;
}
.sc-tab-panel {
z-index: 2;
width: 100%;
background: #f0f0ed;
position: relative;
height: inherit;
line-height: 19px;
overflow: hidden;
margin: 0 0 10px 0;
padding: 15px; 
}
.ui-tabs .ui-tabs-hide {
display: none;
}

/*--------------------------------------------------------------
Text boxes
--------------------------------------------------------------*/

.text-box {
width: 100%;
max-width: 100%;
display: inline-block;
font-size: 12px;
line-height: 21px;
font-weight: bold;
color: #33363C;
margin-bottom: 20px;
}
.text-box p {
line-height: inherit;
}
.text-box .testimonial-name {
font-weight: bold;
font-size: 12px;
font-family: Helvetica, Arial, sans-serif;
}
.text-box .testimonial-company {
font-size: 12px;
font-family: Helvetica, Arial, sans-serif;
}
.text-box .testimonial-comma {
font-size: 12px;
font-family: Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------------------
Toggle boxes
--------------------------------------------------------------*/

h3.toggle {
line-height: 1;
margin: 0 0 10px 0;
cursor: pointer;
}
h3.toggle a {
padding-left: 10px;
}
.toggle-box {
clear:both;
margin: 0 0 20px 0;
overflow: hidden;
}
.no-js .toggle-box {
display: block !important;
}

/*--------------------------------------------------------------
Videos - deprecated
--------------------------------------------------------------*/

.sc-video,
.sc-video div {
max-width: 100%;
}
.sc-video.aligncenter {
text-align: center;
}


/*--------------------------------------------------------------------------------------

10 - Contact Form 7

--------------------------------------------------------------------------------------*/

.wpcf7-form .wpcf7-not-valid-tip {
display: none;
}
.wpcf7-form .wpcf7-not-valid {
border-color: #E44E48;
}
.wpcf7-form .wpcf7-validation-errors,
.wpcf7-form .wpcf7-mail-sent-ng {
margin-left: 0;
padding: 10px 20px;
border: 0;
border-radius: 4px;
background: #E44E48;
color: #fff;
}
.wpcf7-form .wpcf7-mail-sent-ok {
margin-left: 0;
padding: 10px 20px;
border: 0;
border-radius: 4px;
background: #90D835;
color: #fff;
}


/*--------------------------------------------------------------------------------------

11 - Media Queries

--------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------
Desktops - 1024 - 1199px
--------------------------------------------------------------*/

@media only screen and (max-width: 1199px) {

	.gp-responsive #page-wrapper {
	width: 1000px;
	}
	.gp-responsive #content,
	.gp-responsive #container {
	width: 775px;	
	}
	.gp-responsive.sb-both #content,
	.gp-responsive.sb-both #container {
	width: 550px;
	}
	.gp-responsive.sb-both #left-content-wrapper {
	width: 775px;
	}
	.gp-responsive .sidebar {
	width: 205px;
	}
	.gp-responsive #footer-widgets {
	width: 1000px;
	}
	
}


/*--------------------------------------------------------------
Tablet (landscape)
--------------------------------------------------------------*/
		
@media only screen and (max-width: 1082px) { 

	.gp-responsive .caption h2 {
	font-size: 13px;
	}	
	.gp-responsive #gp-to-top {
	display: none !important;
	opacity: 0 !important;
	}

}

	
/*--------------------------------------------------------------
Tablet (portrait)
--------------------------------------------------------------*/

@media only screen and (max-width: 1023px) {

	.gp-responsive #page-wrapper {
	width: 100%;
	padding: 0 10px;
	}
	.gp-responsive #content,
	.gp-responsive #container {
	width: 100% !important;
	}
	.gp-responsive #left-content-wrapper {
	width: 100% !important;
	}
	.gp-responsive .sidebar {
	width: 100% !important;
	margin: 30px 0 0 0 !important;
	}
	.gp-responsive #header {
	position: relative !important;
	}	
	.gp-responsive #gp-profile-desktop-button {
	display: none;
	}
	.gp-responsive.gp-profile-all #gp-profile-mobile-button,
	.gp-responsive.gp-profile-mobile #gp-profile-mobile-button {
	display: inline-block;
	}	
	.gp-responsive #mobile-nav-button {
	display: block;
	}
	.gp-responsive #nav .menu {
	display: none;
	}
	.gp-responsive #footer {
	padding-left: 30px;
	padding-right: 30px;
	}
	.gp-responsive #footer-widgets {
	width: 100%;
	}
	.gp-responsive .footer-widget {
	width: 47%;
	}
	.gp-responsive .footer-widget.footer-whole {
	width: 100%;
	}	
	.gp-responsive .footer-3,
	.gp-responsive .footer-5 {
	clear: both;
	margin-left: 0;
	}
	.gp-responsive .caption h2 {
	font-size: 24px;
	}	
	
}


/*--------------------------------------------------------------
Mobile (landscape)
--------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

	.gp-responsive #page-wrapper {
	padding: 0 10px;
	}
	.gp-responsive .footer-widget {
	margin-left: 0;
	width: 100%;
	}
	.gp-responsive #footer {
	margin-top: 10px;
	}
	.gp-responsive .comment-avatar {
	display: none;
	}
	.gp-responsive .comment-body {
	margin-left: 0;
	}
	.gp-responsive .pp_pic_holder {
	left: 2.5% !important;
	width: 95% !important;
	}
	.gp-responsive .pp_content {
	width: 98% !important;
	height: auto !important;
	}
	.gp-responsive .pp_fade {
	padding-bottom: 40px;
	width: 100% !important;
	height: 100% !important;
	}
	.gp-responsive #pp_full_res img,
	.gp-responsive #pp_full_res iframe,
	.gp-responsive #pp_full_res video {
	max-width: none !important;
	width: 100% !important;
	height: auto !important;
	}
	.gp-responsive .pp_details {
	width: 100% !important;
	}
	.gp-responsive .ppt {
	margin-left: 0 !important;
	width: 100% !important;
	}
	.gp-responsive .spacing-small .post-thumbnail.wrap {
	max-width: 40%;
	}
	.gp-responsive .gp-blog-columns-2 section,
	.gp-responsive .gp-blog-columns-3 section,
	.gp-responsive .gp-blog-columns-4 section,
	.gp-responsive .gp-blog-columns-5 section,
	.gp-responsive .gp-blog-columns-6 section {
	width: 48%;
	margin-right: 0;
	clear: none;
	}	
	.gp-responsive .gp-blog-columns-2 section:nth-of-type(2n+1),
	.gp-responsive .gp-blog-columns-3 section:nth-of-type(2n+1),
	.gp-responsive .gp-blog-columns-4 section:nth-of-type(2n+1),
	.gp-responsive .gp-blog-columns-5 section:nth-of-type(2n+1),
	.gp-responsive .gp-blog-columns-6 section:nth-of-type(2n+1) {
	margin-right: 4%;
	clear: left;
	}	
	.gp-responsive .gp-blog-wrapper.spacing-normal section {
	width: 100% !important;
	margin-right: 0 !important;
	}
	.gp-responsive .post-text {
	margin: 0 !important;
	width: 100%;
	}
	.gp-responsive.error404 h1 {
	font-size: 30px;
	line-height: 60px;
	}
	.gp-responsive.error404 h2 {
	font-size: 18px;
	line-height: 28px;
	}
	.gp-responsive blockquote,
	.gp-responsive .blockquote-left,
	.gp-responsive .blockquote-right {
	width: 100%;
	margin: 0 0 12px 0;
	padding: 0;
	}
	.gp-responsive .columns {
	width: 100% !important;
	margin: 0 0 20px 0;
	}
	.gp-responsive .columns > div {
	height: auto !important;
	}
	.gp-responsive .columns .sc-image {
	position: relative !important;
	}
	.gp-responsive .columns.joint > div {
	border-left-width: 0;
	}
	.gp-responsive .columns.three.first.joint > div,
	.gp-responsive .columns.three.middle.joint > div {
	border-bottom-width: 1px;
	}
	.gp-responsive .sc-image,
	.gp-responsive .sc-image img {
	height: auto !important;
	}	
	.gp-responsive .flex-control-nav {
	display: none;
	}
	.gp-responsive .caption {
	padding: 10px 10px 0 10px;
	}
	.caption-topleft {
	top: 10px;
	left: 10px;
	}
	.caption-topright {
	top: 10px;
	right: 10px;
	}
	.caption-bottomleft {
	bottom: 10px;
	left: 10px;
	}
	.caption-bottomright {
	bottom: 10px;
	right: 10px;
	}
	.gp-responsive .caption h2 {
	font-size: 13px;
	}
	.gp-responsive .caption p {
	display: none;
	}
	.gp-responsive .ui-tabs .ui-tabs-nav li { 
	width: 100%;
	border-bottom-width: 1px !important;
	}
	.gp-responsive .ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	border-bottom-color: #eee;
	}
		
}

/*--------------------------------------------------------------
Mobile (portrait)
--------------------------------------------------------------*/

@media only screen and (max-width: 567px) {	

	.gp-responsive #bp-buttons {
	margin-left: 5px;
	}
	.gp-responsive #bp-buttons .login-button,
	.gp-responsive #bp-buttons .logout-button,
	.gp-responsive #bp-buttons .signup-button {
	display: none;
	}
	.gp-responsive #mobile-bp-buttons {
	display: block;
	}
	.gp-responsive .comment-reply-link {
	float: none;
	margin-top: 5px;
	display: inline-block;
	}	
	.gp-responsive.error404 .gp-search .searchform {
	width: 100%;
	}
	
}	