.single-product div.product table.variations {
    margin: 1.618em auto 3.236em;
}

.single-product div.product table.variations td,
.single-product div.product table.variations th {
    /* Storefont makes these list-item for some reason! */
    display: table-cell;
    vertical-align: baseline;
}

.single-product div.product table.variations td.sku,
.single-product div.product table.variations th.sku {
    white-space: nowrap;
    width: min-content;
}

.single-product div.product table.variations th.currency,
.single-product div.product table.variations td.currency {
    text-align: right;
    white-space: nowrap;
    width: min-content;
}

.single-product div.product table.variations td.form {
    white-space: nowrap;
    text-align: right;
}

.single-product div.product table.variations td.form form.cart {
    margin: initial;
    padding: 0.25em 0;
    border: initial;
}

.single-product div.product table.variations td.form div.quantity {
    display: inline;
    float: initial;
}

.single-product div.product table.variations td.form div.quantity input.qty {
    min-width: 5em !important;
    max-width: none !important;
    width: 7em;
}

input[type=number] {
    text-align: right !important;
}
