/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.deleting{
background-color:#ef8a8a;
}
.editing{
background-color:lightblue;
}

.nav-tab{
background-color:#deeaea;
}
.nav-tab-active{
background-color:#f1f1f1;
}


