/*
Theme Name: f.ch-Promofoire1
Text Domain: f.ch-Promofoire1
Tags: buddypress
Template: FirmaSite-pf3

Description: Example Child Theme
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl.txt

You can add all custom css codes here
Some example codes you can use: 
http://theme.firmasite.com/tag/custom-css/
*/
/* CSS used here will be applied after bootstrap.css */
.parent{
		position: relative;
	}
	
	.parent:before {
		z-index: -1;
		content: '';
		position: absolute;
	
		opacity: 0.2;}
body.bp-user {background-attachment: fixed !important;}
body.bp-user #page {  position: relative;}
.site-only-content-long:before  { z-index: -1;
		content: '';
		position: absolute;
	
		opacity: 0.2;}
body.media {
overflow-y: scroll;

}
.rtmedia-container .productbox {
    position: relative;
 border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out; 
}
.rtmedia-container .caption {
	padding:10px;
	background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
  	font-size: 11px;
  color: #FFF;

}
.rtmedia-container .finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.rtmedia-container .img-responsive img{
	width: 100%;    
}
.rtmedia-container .container {
	width: 100%;
}

.rtmedia-container .btn-block {
margin-top: 5px;
}
.rtmedia-container .saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}

/* Promo traitement des texte showcase */
a.hero-title {
  /* color: #000 !important; */
/*    font-size: 52px;
  font-weight: normal !important;
  margin-left: 200px !important;
  text-transform: uppercase;
  /* background: rgba(255,255,255,0.5) !important; */
 /*  background: none !important;
  text-shadow: inherit !important */ 
}

.hero-content { background:none !important ; text-shadow:none !important}


.background--dark ,.background--dark a ,.background--dark span {
  color:#fff !important
}


.background--light, .background--light a ,.background--light span {
  color: #222 !important;
}


.background--dark.background--complex, .background--dark.background--complex a , .background--dark.background--complex span {
  color: #ccc !important;
}
.background--light.background--complex, .background--light.background--complex a, .background--light.background--complex span{
   color: #aaa !important;

}
.background--dark.background--complex li {
  background: #ccc !important;
   color: #ccc !important;
  border-color: #ccc !important;
}

.background--light.background--complex li {
  background: #aaa;
  color: #aaa;
  border-color: #aaa;
}
.background--light  li {
  color: #222;
  border-color: #222;
  background-color:#222;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }  
}



/* promofoire testes bootstrap home*/

.square, .btn {
    /* border-radius: 0px!important; */
}

/* -- color classes -- */
.coralbg {
    background-color: #ADCD34;
} 

.coral {
    color:#ADCD34;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 , div.user-menu-container h4 a.hero-title{
    font-weight: 300;
    color: #8b8b8b;
	margin-left: 0
}
  
  
  h3.hero-title a
  {font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #333333;
}
div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .user-image .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 13px;
    background-color: #015592;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
	padding:0;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 .caption1 {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption 1a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* promofoire jquerytypeahead */

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row {
    display: table-row;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row  > * {
    display: table-cell;
    vertical-align: middle;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .username {
    padding: 0 10px;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .id {
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .avatar img {
    height: 26px;
    width: 26px;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo {
    display: inline-block;
    height: 100px;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo img {
    height: 100%;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information > span {
    display: block;
    margin-bottom: 5px;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result > ul > li > a small {
    padding-left: 0px;
    color: #999;
}
 
.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information li {
    font-size: 12px;
}
.project-jquerytypeahead.page-demo .typeahead-result .name {
    margin: 0 10px;
}

.project-jquerytypeahead.page-demo .typeahead-result .division {
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
}

.project-jquerytypeahead.page-demo .typeahead-result .team-logo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 2px 4px 0 10px;
}

.project-jquerytypeahead.page-demo .typeahead-result .team-logo img {
    height: 26px;
}

.user-pad .fa {
  color: #000;
  margin-right: 5px;
}



/* scaffolding */
/* ----------- */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;

  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
/* scaffolding */
/* ----------- */

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.sticky-footer-push,
.footer {
  height: 60px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

/* base styles */
/* ----------- */

html {
  background-color: #f2f9ff;
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}

a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 10px 0;
}

input[type=text]::-ms-clear {
  display: none;
}

/* site theme */
/* ---------- */

.masthead,
.footer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.twitter-logo {
  width: 72px;
  height: 72px;
  margin: 0;
  vertical-align: middle;
}

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.tagline {
  margin: 20px 0 0 0;
  font-size: 20px;
  color: #444;
}

.btn-download {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 150px 0 0 0;
  padding: 10px 20px;
  color: #fff;
  font: inherit;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #0097cf;
  background-image: -moz-linear-gradient(top, #04a2dd, #03739c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04a2dd), to(#03739c));
  background-image: -webkit-linear-gradient(top, #04a2dd, #03739c);
  background-image: -o-linear-gradient(top, #04a2dd, #03739c);
  background-image: linear-gradient(to bottom, #04a2dd, #03739c);
  background-repeat: repeat-x;
  border: 1px solid #024e6a;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px -2px #111;
     -moz-box-shadow: 0 2px 5px -2px #111;
          box-shadow: 0 2px 5px -2px #111;
}

.btn-download:hover {
  background-color: #04a2dd;
  background-image: none;
}

.btn-download:active {
  background-color: #03739c;
  background-image: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    text-decoration: none;
}

.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.social {
  margin: 80px 0 0 0;
}

.social-btn {
  padding: 5px 8px;
}

.links {
  margin: 10px 0 0 0;
  display: block;
  padding: 0;
  list-style: none;
}

.links a {
  font-size: 16px;
  color: #999;
}

.footer {
  font-size: 12px;
}

.Typeahead *,
.Typeahead *:before,
.Typeahead *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Utilities */

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-hidden {
  display: none !important;
}

.u-posRelative {
  position: relative;
}

/* Typeahead */

.Typeahead {
  position: relative;
  *z-index: 1;
    
  text-align: left;

}

.Typeahead-spinner {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
  width: 28px;
  height: 28px;
}

.Typeahead-hint,
.Typeahead-input {
  width: 100%;
  padding: 5px 8px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.Typeahead-hint {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccd6dd;
  opacity: 1;
}

.Typeahead-input {
  position: relative;
  background-color: transparent;
  /* background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); */
  outline: none;
}

.Typeahead-menu {
  position: absolute;
 /* top: 95%; */
  left: 2.5%;
  z-index: 100;
  display: none;
  width: 95%;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
          box-shadow: 0px 0px 0px 1px green;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.Typeahead-menu.is-open {
  display: block;
}

.Typeahead-selectable {
  cursor: pointer;
}

.Typeahead-selectable + .Typeahead-selectable {
  border-top: 1px solid #ccd6dd;
}

/* ProfileCard */

.ProfileCard {
  position: relative;
  padding: 8px;
}

.ProfileCard-avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 52px;
  height: 52px;
  border: 2px solid #ccd6dd;
  border-radius: 5px;
}

.ProfileCard:hover .ProfileCard-avatar {
  border-color: #f5f8fa;
}

.ProfileCard-details {
  min-height: 60px;
  padding-left: 60px;
}

.ProfileCard-realName,
.ProfileCard-screenName {
  display: inline-block;
}

.ProfileCard-realName {
  font-weight: 700;
}

.ProfileCard-screenName {
  color: #8899a6;
}

.ProfileCard-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.ProfileCard-stats {
  float: right;
  text-align: right;
}

.ProfileCard-stat {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.ProfileCard-stat-label {
  color: #8899a6;
  font-weight: 500;
}

.ProfileCard-stat + .ProfileCard-stat {
  margin-left: 5px;
}

.ProfileCard:hover,
.ProfileCard.is-active {
  color: #fff;
  background: #55acee;
}

.ProfileCard:hover .ProfileCard-screenName,
.ProfileCard:hover .ProfileCard-stat-label,
.ProfileCard.is-active .ProfileCard-screenName,
.ProfileCard.is-active .ProfileCard-stat-label {
  color: #fff;
}

/* EmptyMessage */

.EmptyMessage {
  position: relative;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}