<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Catégories du produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `Étiquettes Produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `WCMp Vendors` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy T-Shirt`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy T-Shirt`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy T-Shirt - 999-X`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy T-Shirt`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy T-Shirt` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy T-Shirt` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_color” have been successfully created.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy T-Shirt` `Produit` (ID: 1795)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy T-Shirt (blue)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy T-Shirt (blue)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy T-Shirt (blue) - 999-Bblue`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy T-Shirt (blue)`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy T-Shirt (blue)` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy T-Shirt (blue)` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy T-Shirt (blue)` `Produit` (ID: 1796)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy T-Shirt (red)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy T-Shirt (red)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy T-Shirt (red) - 999-Cred`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy T-Shirt (red)`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy T-Shirt (red)` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy T-Shirt (red)` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy T-Shirt (red)` `Produit` (ID: 1797)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy Mug`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy Mug`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy Mug - 777-X`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy Mug`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy Mug` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy Mug` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy Mug` `Produit` (ID: 1798)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy Mug`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy Mug`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy Mug - 777-Oorange`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy Mug`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy Mug` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy Mug` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy Mug` `Produit` (ID: 1799)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Soflyy Mug`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Soflyy Mug`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Soflyy Mug - 777-Yyellow`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Soflyy Mug`</div>
<div class="progress-msg"><b>CREATING</b> `Soflyy Mug` `Produit`</div>
<div class="progress-msg">Associate post `Soflyy Mug` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Soflyy Mug` `Produit` (ID: 1800)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
