/*
    Author     : WisdmLabs
*/

div#wdm_import_form {
margin-bottom: 25px;
}
#wdm_import_data {
    width: auto;
}
#wdm_import_data > table {
    table-layout: fixed;
    /*width: 100%;*/
    border-collapse: collapse;
}
.stick {
    background-color: #1e8cbe;
    color: white;
}
.stick > tr {
    display: block;
    position: relative;
}

.imp-nag{
    margin: 0;
}

.import-export-header{
    font-weight: bold !important;
    font-size: 19px !important;
    color: rgba(35, 40, 45, 0.79);
}

#wdm_import_data tr td, #wdm_import_data tr th {
    width: 200px;
    text-align: center;
   border-bottom: 1px #DAE3FF solid;
}
#wdm_import_data tbody {
    display: block;
    height: 200px;
    overflow: auto;
    width: 100%;
    border: 1px solid #0074a2;
    box-sizing: border-box;
}


.input-group {
    width:37%;
    margin:10px;
}
.wdm-input-group {
    width:50%;
    /*text-align:center;*/
    margin:10px;
}
.wdm-input-group>label{
    /*width:49%;*/
    text-align:left;
}
#dd_show_import_options{
    width:50%;
}

#wdm_import{
    width:20%;
   /* background-color: #337ab7;
  border-color: #204d74;*/
}

.btn-primary{
    background-color: #1e8cbe !important;
  border-color: #0074a2;
}

body{
    background-color:transparent;
}

.wdm_summary{
    font-weight: bold;
}
