<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Catégories du produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `Étiquettes Produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `WCMp Vendors` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `High Heel Shoe`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `High Heel Shoe`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `123450|1|1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `High Heel Shoe`</div>
<div class="progress-msg"><b>CREATING</b> `High Heel Shoe` `Produit`</div>
<div class="progress-msg">Associate post `High Heel Shoe` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_black-white” have been successfully created.</div>
<div class="progress-msg">- <b>WARNING</b>: Taxonomy “US 8 | US 8.5 | US 9 | US 9.5 | US 10 | US 10.5” name is more than 32 characters. Change it, please.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_tag `Shoes`, duplicate detected. Importing Produit to existing `Shoes` product_tag, ID 420, slug `shoes` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `High Heel Shoe` `Produit` (ID: 1762)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Running Shoe`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Running Shoe`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `123460|1|1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Running Shoe`</div>
<div class="progress-msg"><b>CREATING</b> `Running Shoe` `Produit`</div>
<div class="progress-msg">Associate post `Running Shoe` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_black-red-blue” have been successfully created.</div>
<div class="progress-msg">- <b>WARNING</b>: Taxonomy “US 7.5 | US 8 | US 8.5 | US 9 | US 9.5 | US 10 | US 10.5 | US 11 | US 11.5 | US 12” name is more than 32 characters. Change it, please.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_tag `Shoes`, duplicate detected. Importing Produit to existing `Shoes` product_tag, ID 420, slug `shoes` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `Running Shoe` `Produit` (ID: 1763)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
