#optionsframework .section.section-info {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
	margin: 10px 0 0 0;
}
#optionsframework .section.section-info .heading {
	margin: 0;
    padding: 0 0 12px 0;
}