<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Catégories du produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `Étiquettes Produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `WCMp Vendors` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.010001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Creating parent Produit product_brand `NOVUS` ...</div>
<div class="progress-msg">- Creating child Produit product_brand for NOVUS named `Collection Harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1685)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.011001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1686)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.020001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1688)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.020002`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1689)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.130000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1690)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.131001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1691)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.131002`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1692)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.131003`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1693)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.020000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1694)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.021001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1695)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.024001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1696)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.040000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1697)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.040001`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1698)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.040002`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1699)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.040003`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1700)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.040004`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1701)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.060000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1702)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.061000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1703)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.062000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1704)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.063000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1705)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.064000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1706)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.051000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1707)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.052000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1708)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.053000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1709)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.070000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1710)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.071000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1711)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5001.001.072000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_brand `NOVUS`, duplicate detected. Importing Produit to existing `NOVUS` product_brand, ID 424, slug `novus` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_brand `Collection Harmony`, duplicate detected. Importing Produit to existing `Collection Harmony` product_brand, ID 425, slug `collection-harmony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Produit product_cat ` - Agrafeuses & Agrafes`, duplicate detected. Importing Produit to existing `- Agrafeuses &amp; Agrafes` product_cat, ID 271, slug `agrafeuses-agrafes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1712)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
