/* ----------------------- Taxonomy pwb-brand ----------------------- */
.taxonomy-pwb-brand .pwb_brand_cont #pwb_brand_image, .taxonomy-pwb-brand .pwb_brand_cont #pwb_brand_banner{
  display: none;
}
.taxonomy-pwb-brand .pwb_brand_cont div{
  margin-top: 10px;
}
@media screen and (max-width: 782px) {
	.taxonomy-pwb-brand .wp-list-table thead th.column-logo, .taxonomy-pwb-brand .wp-list-table tfoot th.column-logo {
    display: none;
  }

  .taxonomy-pwb-brand .wp-list-table td.column-logo:before {
    content: ""!important;
  }
}
/* ----------------------- /Taxonomy pwb-brand ----------------------- */

.pwb-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999999;
  line-height: 1;
  background: rgba(0,0,0,0.9);
  font-size: 2em;
  padding-top: 20px;
  text-align: center;
}
.pwb-modal-inner {
  max-width: 70%;
  margin: 0 auto;
  animation: pwbblinkkf 3s linear infinite;
  color: #fff;
}
.pwb-modal-inner p{
  font-size: 2em;
}
@keyframes pwbblinkkf {
  50% { opacity: 0; }
}
