#export{
//background-color: #337ab7;
//border-color: #204d74;
}

.import-export-header{
    font-weight: bold !important;
    font-size: 19px !important;
    color: rgba(35, 40, 45, 0.79);
}


label[for=dd_show_export_options]
{
    font-weight:700;
    /* ...definitions here... */
}