/*
Theme Name: FirmaSite153 
Version: 1.5.3
Text Domain: FirmaSite153 
Theme URI: http://theme.firmasite.com/
Description: Free responsive WordPress theme with Buddypress and bbPress supports. Have 4 different layout: content-sidebar,sidebar-content, full content (long), full content(short). 13 different theme styles, Google Fonts, logo upload abilities. Unique 2 feature builtin: Promotion Bar and ShowCase. All options are using WordPress Theme Customizer feature so you can watch changes live! Designers: This theme built on Twitter Bootstrap, have 0 custom css code and using template_part system so you can easily use it as parent theme! You can find detailed information, showcase, live demo, tips and tricks about theme in: http://theme.firmasite.com/
Author: FirmaSite153 
Author URI: http://firmasite.com/
Tags: buddypress,post-formats,custom-background,custom-colors,custom-menu,editor-style,featured-images,front-page-post-form,full-width-template,translation-ready,theme-options,threaded-comments,fixed-layout,fluid-layout,responsive-layout,one-column,two-columns,left-sidebar,right-sidebar,black,blue,gray,green,orange,purple,red,silver ,white,yellow,dark,light

License: GPLv3 or later
License URI: license.txt

You can find detailed information,showcase,live demo,
tips and tricks about theme in:
http://theme.firmasite.com/

This theme is licensed under the GPL.
I would be so happy if you dont remove designer link :)

WARNING for editing this theme:
We dont recommend edit files of this theme. 
You can add custom css from Theme Customizer panel. 
For adding custom bootstrap styles or changing theme display system,
We recommend you to use Child Theme:
http://theme.firmasite.com/child-theme/
http://codex.wordpress.org/Child_Themes  
*/

/* Some Make-Up */
.logo-text{font-size:200%!important;line-height:120%!important;display:inline-block!important;text-shadow:0 0.01em 0.05em #666,0.01em 0.06em 0em #999,0.01em 0.1em 0.1em rgba(0,0,0,0.85)}
.caption .hero-title,.caption .hero-content > p,.gallery-title,.gallery-caption{
	display:inline-block;color:#fff;background:#333;background:rgba(0,0,0,0.2);border-radius:3px;padding:5px;text-shadow:1.5px 1.5px 1px rgba(0, 0, 0, 1);
}
.caption .hero-link{display:inline-block;vertical-align:middle}

/* wp-styles */
.aligncenter{display:block;margin:0 auto}
.alignleft{float:left}
.alignright{float:right}
img.alignleft{margin-right:5px;margin-bottom:5px}
img.alignright{margin-left:5px;margin-bottom:5px}
.wp-caption{max-width:100%!important}
.wp-caption-text{}
.wp-caption.alignleft{margin-right:5px;margin-bottom:5px}
.wp-caption.alignright{margin-left:5px;margin-bottom:5px}
.sticky{}
.gallery-caption{}
.bypostauthor{}
.assistive-text,.site .screen-reader-text{position:absolute!important;clip:rect(1px,1px,1px,1px)}
iframe,object,embed{max-width:100%}

/* theme general fixes */
.clearboth{clear:both}
img{display:inline-block;height:auto;max-width:100%}
.no-margin{margin:0!important}
.margin-bot{margin-bottom:20px!important}
.no-margin-bot{margin-bottom:0!important}
.margin-top{margin-top:20px!important}
.no-margin-top{margin-top:0!important}
.navbar-toggle{margin-left:15px}
.page-links .pagination{clear:both;margin:0}
.entry-thumbnail.pull-left{margin-right:10px}
.entry-thumbnail.pull-right{margin-left:10px}
@media (min-width:992px){
	.loop_tile .loop_tile_item, .loop_tile .loop-grid-sizer{word-wrap:break-word;-ms-word-wrap:break-word;hyphens:auto}
	.col-md-6.loop_tile_item {width:49.9%;}
	.col-md-4.loop_tile_item {width:33.2%;}
	.col-md-3.loop_tile_item {width:24.9%;}
}
.loop_tile div#infscr-loading {z-index:1;position:absolute;bottom:-20px;width:100%;text-align:center}
.dropdown-form{padding:10px;min-width:350px}
.label{white-space:normal;padding:3px 5px;font-size:90%;font-weight:normal}
.thumbnail{margin-bottom:0}
.thumbnail img{display:block;margin:0 auto}
.media .thumbnail img{max-width:inherit}
.thumbnail.pull-left,.thumbnail.alignleft{margin-right:5px}
.thumbnail.pull-right,.thumbnail.alignright{margin-left:5px}
.thumbnail.mini {max-width: 45px;}
.fs-content-thumbnail{padding:0}
@media (min-width:768px){.fs-have-thumbnail{overflow:hidden}}
.radio li{list-style:none}
.hentry .panel{margin-bottom:20px}
.carousel-caption .pagination{margin:0}
#wplogo{color:#21759b}
#masthead{padding-top:10px}
#masthead .navbar{margin-bottom:0}
#main{margin-top:20px;}
body.admin-bar .navbar-fixed-top{top:28px}
.home-page #breadcrumbs,.home-page #breadcrumbs-bottom{display:none}
.dropdown-menu.submenu{display:block;margin-left:20px;border:0;box-shadow:none;position:relative}
ul.children{margin-left:20px;}
div[role=search]{position:relative;z-index:1}
.generic-button {float:left;margin-right:5px}
#page.paper-theme .navbar-nav>li>.dropdown-menu {margin-top:0}

/* buddypress */
#groups-list li,#members-list li{overflow:hidden}
#groups-list>li.hidden{display:block!important;visibility:visible!important}

/* bbpress */
.bbp-topics .pagination{margin:0;font-size:80%}
.bbp-threaded-replies .panel{margin-bottom:2px}
.bbp-topic-revision-log{list-style:none}
.bbp-topic-revision-log-item{overflow:hidden}
.panel-body.alert{margin-bottom:0}

/* infinite-scroll */
.firmasite-infinite-scroll #pagination-bottom, .firmasite-infinite-scroll .remove-for-infinite{display:none;}
.infinite-loader{bottom:0;position:absolute;display:block;height:28px;text-indent:-9999px;}

/*tinymce*/
body.mceContentBody{margin:0!important;padding:10px!important;border:none!important}

/* site-only-content = .row .col-xs-12 col-md-8 (round to 12x) */
.site-only-content .container{max-width:624px}
@media (min-width:1200px){.site-only-content .container{max-width:756px}}
@media (min-width:768px) and (max-width:991px){.site-only-content .container{max-width:624px}}

/* only-content-long = .row .col-xs-12 col-md-12 */
.site-only-content-long .container{max-width:940px}
@media (min-width:1200px){.site-only-content-long .container{max-width:1140px}}
@media (min-width:768px) and (max-width:991px){.site-only-content-long .container{max-width:720px}}

/* site-sidebar-content */
@media (max-width:991px){.site-sidebar-content #secondary{clear:both}}

/* carousels */
.carousel .carousel-control, .carousel .carousel-indicators {visibility:hidden;}
.carousel:hover .carousel-control, .carousel:hover .carousel-indicators {visibility:visible;}
.carousel .carousel-control {background-image:none}

.carousel .item {
	-webkit-transition:1s ease-in-out left;
	transition:1s ease-in-out left;
	-moz-transition-timing-function:cubic-bezier(.77,0,.175,1);
	-o-transition-timing-function:cubic-bezier(.77,0,.175,1);
	-webkit-transition-timing-function:cubic-bezier(.77,0,.175,1);
	transition-timing-function:cubic-bezier(.77,0,.175,1);
}

/* showcase */
.firmasite-showcase-content{margin-bottom:0;font-size:inherit;padding:20px 15%!important;min-height:300px;}
.firmasite-showcase .carousel-control.left{border-radius:6px 0 0 6px}
.firmasite-showcase .carousel-control.right{border-radius:0 6px 6px 0}
.firmasite-showcase .carousel-indicators{bottom:0;margin-bottom:0}

/* showcase style 2 */
@media (min-width:992px){
.showcase-style-2 #masthead{position:absolute;left:0;right:0;z-index:2}
.showcase-style-2 #firmasite-showcase .firmasite-showcase-content{padding-top:200px !important}
.showcase-style-2 #firmasite-showcase .carousel-control, .showcase-style-2 #firmasite-showcase .firmasite-showcase-content, .showcase-style-2 #firmasite-showcase .carousel-inner{border-top-left-radius:0;border-top-right-radius:0}
}

/* showcase style 3 */
@media (min-width:992px){
.showcase-style-3 #masthead{position:absolute;left:0;right:0;z-index:2}
.showcase-style-3 #firmasite-showcase-container{max-width:none;padding:0;width:100%}
.showcase-style-3 #firmasite-showcase .jumbotron{padding-top:200px !important}
.showcase-style-3 #firmasite-showcase .carousel-control, .showcase-style-3 #firmasite-showcase .jumbotron, .showcase-style-3 #firmasite-showcase .carousel-inner{border-radius:0}
}

/* promotionbar */
.carousel-mini{min-height:100px;margin-bottom:0;margin-top:15px;_height:100px}
.carousel-mini .carousel-title{margin-top:0;padding-bottom:10px}
.carousel-mini .carousel-inner > .item > .thumbnail{text-align:center}
.carousel-mini .carousel-control{position:absolute;left:auto;top:-5px;right:20px;width:15px;height:20px;margin-top:0;font-size:30px;font-weight:bold;line-height:16px;text-align:center;background:none;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:0.6;filter:alpha(opacity=60)}
.carousel-mini .carousel-control.right{right:0}
.carousel-mini .icon-next{margin-right:-15px}
.carousel-mini .carousel-control:hover{text-decoration:none;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);opacity:0.9;filter:alpha(opacity=90)}

/* make modals usable */
.firmasite-modal-static{position:inherit;top:inherit;left:inherit;right:inherit;bottom:inherit;margin:0 auto 20px;z-index:inherit;max-width:100%;width:100%;word-wrap:break-word;display:inline-block;overflow:inherit}
.firmasite-modal-static .modal-dialog{width:100%;z-index:inherit;left:inherit;right:inherit;padding:0;margin:0}
.firmasite-modal-static .modal-footer{border-radius:6px;text-align:inherit;margin-top:0}
.firmasite-modal-static .modal-body{overflow-y:inherit;max-height:inherit}
.firmasite-modal-static .modal-body.alert{margin-bottom:0}
.firmasite-modal-static .panel-footer{border-radius:6px}

/* custom icon font additions*/
@font-face {font-family:"FirmaSite";src:url('assets/fonts/FirmaSite.eot');src:url('assets/fonts/FirmaSite.eot?#iefix') format('embedded-opentype'),	url('assets/fonts/FirmaSite.woff') format('woff'),	url('assets/fonts/FirmaSite.ttf') format('truetype'),	url('assets/fonts/FirmaSite.svg#FirmaSite') format('svg');font-weight:normal;font-style:normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:"FirmaSite";src:url('assets/fonts/FirmaSite.svg#FirmaSite') format('svg');}}
.icon-try,.icon-wordpress{font-family:"FirmaSite"!important;font-style:normal}
.icon-try:before{content:"\20ba"}
.icon-wordpress:before{content:"\e000"}

/* ie fixes */
.browser_ie #firmasite-promotionbar img.wp-post-image{width:100%;height:auto;max-width:none}
.browser_ie .bbp-replies .bbp-author-avatar img{width:80px;height:auto;max-width:none}
.browser_ie .widget.buddypress .item-avatar img{width:50px;height:auto;max-width:none}
.browser_ie ul.item-list img.avatar{width:50px;height:auto;max-width:none}
.browser_ie #item-actions img.avatar{width:50px;height:auto;max-width:none}
.browser_ie .bbp-topics .bbp-author-avatar img{width:14px;height:auto;max-width:none}
.browser_ie .bbp-forums .bbp-author-avatar img{width:14px;height:auto;max-width:none}
.browser_ie .firmasite-modal-static .modal-footer{text-align:left}
