/*
Theme Name: Promofoire-valab
Text Domain: Promofoire-valab
Tags: buddypress
Template: FirmaSite-pf3

Description: Example Child Theme
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl.txt

You can add all custom css codes here
Some example codes you can use: 
http://theme.firmasite.com/tag/custom-css/
*/
/* CSS used here will be applied after bootstrap.css */
.parent{
		position: relative;
	}
	
	.parent:before {
		z-index: -1;
		content: '';
		position: absolute;
	
		opacity: 0.2;}
body.bp-user {background-attachment: fixed !important;}
body.bp-user #page {  position: relative;}
.site-only-content-long:before  { z-index: -1;
		content: '';
		position: absolute;
	
		opacity: 0.2;}
body.media {
overflow-y: scroll;

}
.rtmedia-container .productbox {
    position: relative;
 border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out; 
}
.rtmedia-container .caption {
	padding:10px;
	background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
  	font-size: 11px;
  color: #FFF;

}
.rtmedia-container .finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.rtmedia-container .img-responsive img{
	width: 100%;    
}
.rtmedia-container .container {
	width: 100%;
}

.rtmedia-container .btn-block {
margin-top: 5px;
}
.rtmedia-container .saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}

/* Promo traitement des texte showcase */
a.hero-title {
  /* color: #000 !important; */
   font-size: 52px;
  font-weight: normal !important;
  margin-left: 200px !important;
  text-transform: uppercase;
  /* background: rgba(255,255,255,0.5) !important; */
  background: none !important;
  text-shadow: inherit !important
}

.hero-content { background:none !important ; text-shadow:none !important}


.background--dark ,.background--dark a ,.background--dark span {
  color:#fff !important
}


.background--light, .background--light a ,.background--light span {
  color: #222 !important;
}


.background--dark.background--complex, .background--dark.background--complex a , .background--dark.background--complex span {
  color: #ccc !important;
}
.background--light.background--complex, .background--light.background--complex a, .background--light.background--complex span{
   color: #aaa !important;

}
.background--dark.background--complex li {
  background: #ccc !important;
   color: #ccc !important;
  border-color: #ccc !important;
}

.background--light.background--complex li {
  background: #aaa;
  color: #aaa;
  border-color: #aaa;
}
.background--light  li {
  color: #222;
  border-color: #222;
  background-color:#222;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }  
}



