<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing parent terms...</div>
<div class="progress-msg">Composing terms slug...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for term ...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TEST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: Un nom est nécessaire pour ce terme.  </div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
