/*
A custom Bootstrap 3.2 'Google Plus style' theme
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400);


/* promofoire custom search filter */

.searchandfilter p { display: inline !important}

/* promofoire menu haut */
#masthead .navbar-default { margin-top:25px}

/* promofoire Landing page login */
body  .container1{ 
  background: url(http://lorempixel.com/1920/1920/city/9/) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

/*personalisation Promofoire mini carousel*/
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {

}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	width:20px;
    display:block;
    float:left;
    text-align:center;
}
