<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Catégories du produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `Étiquettes Produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `WCMp Vendors` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1523 - 5001.001.010001bleu-c1-20`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_bleu” have been successfully created.</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_c1” have been successfully created.</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_20” have been successfully created.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1754)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1521 - 5001.001.010001noire-c1-50`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_noire” have been successfully created.</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_50” have been successfully created.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1755)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1519 - 5001.001.010001bleu-c2-50`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_c2” have been successfully created.</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1756)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1517 - 5001.001.010001noire-c2-20`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1757)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1570 - noire-c1-50`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1758)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1571 - bleu-c1-20`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1759)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1572 - bleu-c2-50`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1760)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `AGRAFEUSE`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `AGRAFEUSE`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `AGRAFEUSE - 1573 - noire-c2-20`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AGRAFEUSE`</div>
<div class="progress-msg"><b>CREATING</b> `AGRAFEUSE` `Produit`</div>
<div class="progress-msg">Associate post `AGRAFEUSE` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>CREATED</b> `AGRAFEUSE` `Produit` (ID: 1761)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
