<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Catégories du produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `Étiquettes Produit` taxonomy...</div>
<div class="progress-msg">Composing terms for `WCMp Vendors` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `High Heel Shoe`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `High Heel Shoe`...</div>
<div class="progress-msg">Duplicate post was found for post High Heel Shoe with unique key `123450|1|1`...</div>
<div class="progress-msg">Deleting attachments for `High Heel Shoe`</div>
<div class="progress-msg">Deleting images for `High Heel Shoe`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `High Heel Shoe`</div>
<div class="progress-msg"><b>UPDATING</b> `High Heel Shoe` `Produit`</div>
<div class="progress-msg">Associate post `High Heel Shoe` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_tag `Shoes`, duplicate detected. Importing Produit to existing `Shoes` product_tag, ID 420, slug `shoes` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>UPDATED</b> `High Heel Shoe` `Produit` (ID: 1762)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Running Shoe`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Running Shoe`...</div>
<div class="progress-msg">Duplicate post was found for post Running Shoe with unique key `123460|1|1`...</div>
<div class="progress-msg">Deleting attachments for `Running Shoe`</div>
<div class="progress-msg">Deleting images for `Running Shoe`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Running Shoe`</div>
<div class="progress-msg"><b>UPDATING</b> `Running Shoe` `Produit`</div>
<div class="progress-msg">Associate post `Running Shoe` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">- Attempted to create parent Produit product_tag `Shoes`, duplicate detected. Importing Produit to existing `Shoes` product_tag, ID 420, slug `shoes` ...</div>
<div class="progress-msg">- Importing taxonomy `dc_vendor_shop` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Running Shoe` `Produit` (ID: 1763)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
